/* Font */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  background-color: white;
}

.logo {
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}




